<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Home page </title>

    <th:block th:insert="base ::header"></th:block>

</head>

<body  background="mont.jpg">

<div th:replace="base :: nav"></div>


<div class="jumbotron text-center">
    <h1>
        Welcome To Montgomery College
    </h1>
</div>

<div class="container">
    <div class="jumbotron">
        <table  class="table table-borderless table-hover shadow mb-4 bg-white">
            <tr>
                <th>Title &nbsp;&nbsp;</th>
                <th>Instructor&nbsp;&nbsp;</th>
                <th>Credits&nbsp;&nbsp;</th>
                <td>Actions&nbsp;&nbsp;&nbsp;</td>
            </tr>

            <tr th:each="course : ${courses}">
                <td th:text="${course.title}"></td>
                <td th:text="${course.instructor}"></td>
                <td th:text="${course.credit}"></td>
                <td>

                    <a th:href="@{/update/{id}(id=${course.id})}" class="btn btn-light" role="button" > <strong>Update</strong> </a>
                    <a th:href="@{/detail/{id}(id=${course.id})}" class="btn btn-outline-success" role="button" > <strong>Details</strong> </a>

                    <div sec:authorize="hasAuthority('ADMIN')">
                    <a th:href="@{/delete/{id}(id=${course.id})}" class="btn btn-danger" role="button"> <strong>Delete</strong> </a>
                    </div>

                </td>
            </tr>
        </table>

        <div  class="aligntext-center">
            <td>
            <a href="/add" class="btn btn-success" role="button"> Add Course </a>
            <a href="/register" class="btn btn-success" role="button"> Registration </a>
            <a href="/login" class="btn btn-success" role="button"> Login </a>
            </td>
        </div>

    </div>

</div>


<nav th:replace="base :: footer"></nav>

</body>

</html>